@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,700&display=swap')
*{

  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body:{
  font-family:"jost",sans-serif;

.header{
  background-color: #FF7F99;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.logo-brand{
  color:aliceblue;
  font-weight:700;
  font-size:30px;
  margin:0px 20px;
}

.logo-brand{
  color:#ff27E;
}


.navbar-main{
  display:flex;
  width:50%;
  justify-content:frex-end;
  align-items:center;
  margin:10px;

}

.navbar-main a{
  text-decoration:none;
  margin:10px;
  width:fiy-content;
  color:aliceblue;
}

.btn-filled{
  background-color: rgba(red, green, blue, alpha);
  border-radius:30px;
  border:1px solid#FFDB80;
  padding:10px 20px;
}

.main-hero{
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 20px;
}

.hero-img{
  width: 50%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius: 50%;
}

.hero-text{
  width:50%;
  padding:0px 20px;
}

.hero-text h1{
    color:#D06077;
    font-weight:400;
    font-size: 4em;
    line-height:80%;


.section-team{
    width: 100%;
    background-color: #FF7F99;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tem-member{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
   
  }

  .team-member h3{
    color:aliceblue;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .tam-member h4{
    width:100%;
    max-width:220px;
    border-radius: 50%;
  }

/*GENERAL STYLES*/

  .btn-filled{
  background-color:rgba(red, green, blue, alpha)
  border-radius 30px;
  border:1px solid#FFDB80;
  padding:10px 20px;
}


.btn-primary{
   background-color: #FFF27E;
   border:nome;
   padding:10px 20px;
   border-radius: 30px;
   margin
}